[package]
name = "lucid-agent"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
clap.workspace = true
tokio.workspace = true
serde.workspace = true
base64.workspace = true
serde_json.workspace = true
