[package]
name = "lucidctl"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
thiserror.workspace = true
tokio.workspace = true

lucid-common.workspace = true
lucid-db.workspace = true
